@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    min-width: 350px;
    min-height: 200px;
    font: 14px/22px "Lato", Arial, sans-serif;
    background: #6394F8;
    margin: 0;
    padding: 0;
}

.lighter-text {
    color: #ABB0BE;
}

.main-color-text {
    color: #6394F8;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

.container {
    margin: auto;
}

.badge {
    background-color: #6394F8;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    margin-top: -15px;
    margin-left: 2px;
}

.shopping-cart {
    margin: 0;
    float: right;
    background: white;
    width: 100%;
    position: relative;
    border-radius: 3px;
    padding: 10px 10px 0px;
}

.shopping-cart .shopping-cart-header {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.shopping-cart .shopping-cart-header .shopping-cart-total {
    float: right;
}

.shopping-cart .shopping-cart-items {
    padding-top: 20px;
}

.shopping-cart .shopping-cart-items li {
    margin-bottom: 20px;
}

.shopping-cart .shopping-cart-items img {
    float: left;
    margin-right: 5px;
    height: 70px;
    width: 70px;
    border-radius: 5px;
}

.shopping-cart .shopping-cart-items .item-name {
    display: block;
    padding-top: 5px;
    font-size: 16px;
}

.shopping-cart .shopping-cart-items .item-price {
    color: #6394F8;
    margin-right: 8px;
}

.shopping-cart .shopping-cart-items .item-quantity {
    color: #ABB0BE;
}

.shopping-cart:after {
    bottom: 100%;
    left: 89%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: white;
    border-width: 8px;
    margin-left: -8px;
}

.cart-icon {
    color: #515783;
    font-size: 24px;
    margin-right: 0px;
    float: left;
}

.button {
    background: #6394F8;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    font-size: 16px;
    margin: 25px 0 15px 0;
}

.button:hover {
    background: #729ef9;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

button#clear-cart {
    background-color: red;
    border: 0;
    color: #fff;
    font-size: 12px;
    padding: 5px 7px;
    cursor: pointer;
    border-radius: 2px;
}




div#emptyCart {
    background: #fff;
}

.empty-cart {
    margin: 0 auto;
    text-align: center;
    font-family: 'Maison Neue';
    font-weight: 300;
}

svg {
    width: 100%;
    padding: 1rem 3.5rem;
}

svg #oval,
svg #plus,
svg #diamond,
svg #bubble-rounded {
    -webkit-animation: plopp 4s ease-out infinite;
    animation: plopp 4s ease-out infinite;
}

svg #oval:nth-child(1),
svg #plus:nth-child(1),
svg #diamond:nth-child(1),
svg #bubble-rounded:nth-child(1) {
    -webkit-animation-delay: -240ms;
    animation-delay: -240ms;
}

svg #oval:nth-child(2),
svg #plus:nth-child(2),
svg #diamond:nth-child(2),
svg #bubble-rounded:nth-child(2) {
    -webkit-animation-delay: -480ms;
    animation-delay: -480ms;
}

svg #oval:nth-child(3),
svg #plus:nth-child(3),
svg #diamond:nth-child(3),
svg #bubble-rounded:nth-child(3) {
    -webkit-animation-delay: -720ms;
    animation-delay: -720ms;
}

svg #oval:nth-child(4),
svg #plus:nth-child(4),
svg #diamond:nth-child(4),
svg #bubble-rounded:nth-child(4) {
    -webkit-animation-delay: -960ms;
    animation-delay: -960ms;
}

svg #oval:nth-child(5),
svg #plus:nth-child(5),
svg #diamond:nth-child(5),
svg #bubble-rounded:nth-child(5) {
    -webkit-animation-delay: -1200ms;
    animation-delay: -1200ms;
}

svg #oval:nth-child(6),
svg #plus:nth-child(6),
svg #diamond:nth-child(6),
svg #bubble-rounded:nth-child(6) {
    -webkit-animation-delay: -1440ms;
    animation-delay: -1440ms;
}

svg #oval:nth-child(7),
svg #plus:nth-child(7),
svg #diamond:nth-child(7),
svg #bubble-rounded:nth-child(7) {
    -webkit-animation-delay: -1680ms;
    animation-delay: -1680ms;
}

svg #oval:nth-child(8),
svg #plus:nth-child(8),
svg #diamond:nth-child(8),
svg #bubble-rounded:nth-child(8) {
    -webkit-animation-delay: -1920ms;
    animation-delay: -1920ms;
}

svg #oval:nth-child(9),
svg #plus:nth-child(9),
svg #diamond:nth-child(9),
svg #bubble-rounded:nth-child(9) {
    -webkit-animation-delay: -2160ms;
    animation-delay: -2160ms;
}

svg #oval:nth-child(10),
svg #plus:nth-child(10),
svg #diamond:nth-child(10),
svg #bubble-rounded:nth-child(10) {
    -webkit-animation-delay: -2400ms;
    animation-delay: -2400ms;
}

svg #oval:nth-child(11),
svg #plus:nth-child(11),
svg #diamond:nth-child(11),
svg #bubble-rounded:nth-child(11) {
    -webkit-animation-delay: -2640ms;
    animation-delay: -2640ms;
}

svg #oval:nth-child(12),
svg #plus:nth-child(12),
svg #diamond:nth-child(12),
svg #bubble-rounded:nth-child(12) {
    -webkit-animation-delay: -2880ms;
    animation-delay: -2880ms;
}

svg #oval:nth-child(13),
svg #plus:nth-child(13),
svg #diamond:nth-child(13),
svg #bubble-rounded:nth-child(13) {
    -webkit-animation-delay: -3120ms;
    animation-delay: -3120ms;
}

svg #oval:nth-child(14),
svg #plus:nth-child(14),
svg #diamond:nth-child(14),
svg #bubble-rounded:nth-child(14) {
    -webkit-animation-delay: -3360ms;
    animation-delay: -3360ms;
}

svg #oval:nth-child(15),
svg #plus:nth-child(15),
svg #diamond:nth-child(15),
svg #bubble-rounded:nth-child(15) {
    -webkit-animation-delay: -3600ms;
    animation-delay: -3600ms;
}

svg #oval:nth-child(16),
svg #plus:nth-child(16),
svg #diamond:nth-child(16),
svg #bubble-rounded:nth-child(16) {
    -webkit-animation-delay: -3840ms;
    animation-delay: -3840ms;
}

svg #bg-line:nth-child(2) {
    fill-opacity: 0.3;
}

svg #bg-line:nth-child(3) {
    fill-opacity: 0.4;
}

h3 {
    font: 22px/32px "Lato", Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 600;
    padding-bottom: 20px;
}

@-webkit-keyframes plopp {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translate(0, -10px);
        transform: translate(0, -10px);
        opacity: 0;
    }
}

@keyframes plopp {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translate(0, -10px);
        transform: translate(0, -10px);
        opacity: 0;
    }
}
